* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 15px;
  border: solid 1px #aaa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 95%;
  height: 190px;
  margin: 0 auto;
  background-color: #161b22;
}
form {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  margin-left: 25px;
  align-content: space-around;
}
label {
  font-size: 1.2rem;
}

button {
  width: 120px;
  padding: 5px;
  height: 25px;
  color: white;
  background: #161b22;
  border: none;
}

button:active {
  background-color: cornflowerblue;
}
button:focus {
  background-color: cornflowerblue;
}
label:hover {
  color: #333333;
}
.btn-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 1px #aaa;
  margin-left: -5px;
}

label {
  color: #8b949e;
}
label:hover {
  color: #333333;
}

select#first-type,
select#second-type,
select#third-type {
  outline: 0px;
  border: 0px;
  width: 45px;
  background-color: #161b22;
  color: #8b949e;
  font-size: 1.1rem;
}
.list-items {
  display: flex;
  align-items: center;
}
.list-items-3 {
  display: flex;
  align-items: center;
  height: 100px;
}
.footer-excerpt-3 {
  width: 50px;
}
small {
  align-self: flex-end;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:active {
  background: cornflowerblue;
}
.container-1 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 226px;
  margin: 0 auto;
  border: solid 1px grey;
  border-top: none;
  background-color: #0d1117;
  color: #8b949e;
  padding: 15px;
}
.container-3 {
  width: 95%;
  height: 226px;
  margin: 0 auto;
  border: solid 1px grey;
  border-top: none;
  background-color: #0d1117;
  color: #8b949e;
  padding: 15px;
}
.card-3 {
  display: flex;
  justify-content: space-between;
}
.post-excerpt {
  display: flex;
  flex-wrap: wrap;
}
.post-excerpt-3 {
  display: Flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 65%;
  width: 80%;
}
p {
  width: 50%;
  font-size: 1.4rem;
  margin: 15px 0 0;
  height: 50px;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  height: 30%;
}
.alt-text-0,
.list-text-0,
.footer-0-text,
.footer-excerpt-0,
.list-text-1 {
  font-size: 1.2rem;
}
.list-text-0 {
  display: flex;
  margin-left: 10px;
}
.bottom-image {
  align-self: center;
}
.footer-excerpt-0 {
  display: flex;
  margin-left: 17px;
}
.footer-excerpt-1 {
  display: flex;
}
.footer-0-text {
  align-self: center;
}
.footer-image-0 {
  align-self: center;
  border-radius: 50%;
}
.alt-text-0 {
  padding: 0 2px;
  align-self: center;
}
.star-border-0,
.share-border-0,
.list-text-1 {
  align-self: center;
}
.post-excerpt-button {
  width: 40px;
  height: 30px;
  border-radius: 5px;
}
.Star {
  margin: -10px;
  width: 20px;
}
.button-text {
  display: none;
}
.container-1-title {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-top: -37px;
  margin-left: 23px;
}
.container-1-logo {
  width: 25px;
}

.main-text-1 {
  font-size: 2.3rem;
  margin-left: 15px;
  color: cornflowerblue;
}
.main-text-2 {
  margin-left: -23px;
  font-size: 2.3rem;
  font-weight: bold;
  color: cornflowerblue;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  width: 82%;
}
li {
  font-size: 1.2rem;
  padding: 0 3px;
}
.list-text {
  align-self: center;
}
.list-text-1,
.list-text-2,
.list-text-3 {
  display: flex;
}
.alt-text-2 {
  font-size: 1.2rem;
  padding: 0 3px;
}
.list-text-4 {
  display: flex;
  align-self: flex-end;
}
.button {
  height: 30%;
}
.alt-text-1 {
  font-size: 1.2rem;
  padding: 0 2px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
}
.footer-image {
  width: 26%;
  border-radius: 50%;
}
.footer-1-text {
  font-size: 1.1rem;
  padding: 0 2px;
  align-self: center;
}
.footer-excerpt {
  display: flex;
}

@media screen and (min-width: 382px) {
  .footer-list {
    width: 100%;
    justify-content: space-between;
  }
  .footer-excerpt-0,
  .list-text-0 {
    margin-left: 0;
  }
  .footer-0-text {
    font-size: 1.1rem;
  }
  .footer-image-0 {
    margin-left: 5px;
  }
}
